.sidebarAdminContainer {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 1.4rem;
  cursor: pointer;
  padding: 0.6rem;
  width: 18%;
  box-shadow: 0 0 1px black;
  /* height: 100%; */
  font-size: 1.8rem;
  height: 100%;
  background-color: white;
  transition: 0.5s all ease-in-out;
  /* transition: all 5ms ease-in-out 20s; */
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 999;

  /* color: white; */
}
.sideBarAdminChild {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  padding: 0.2rem 1rem;
  /* overflow-y: hidden; */
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
  /* background-color: white; */
}

@media (max-width: 1000px) {
  .sidebarAdminContainer {
    width: 40%;

    font-size: 1.2rem;
  }
}
@media (max-width: 800px) {
  .sidebarAdminContainer {
    width: 45%;

    font-size: 1.2rem;
  }
}
@media (max-width: 299px) {
  .sidebarAdminContainer {
    width: 60%;

    font-size: 1.2rem;
  }
}
